{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'gspin_bet_list' %}">Bet Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>bet_amount</td>
    <td>created</td>
    <td>is_active</td>
    <td>bet_choice</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.bet_amount }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.is_active }}</td>
    <td>{{ object.bet_choice }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'gspin_bet_create' %}">Create new Bet</a>
{% endblock %}